body {
  text-align: center;
  background-color: rgba(107, 90, 206, 0.5);
  font-size: 30px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

p {
  text-align: left;
  color: black;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

nav {
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: hotpink;
}
  
.header {
  background-color: rgb(153,50,204);
  padding: 20 px;
  text-align: center;
  color: black;
}

